<div id="favorite-button-<%= product.id %>" >
  <% if current_user.favorites.find_by(product_id: product.id) %>
    <%= link_to product_favorites_path(product), method: :delete, remote: true do %>
      <i class="fas fa-heart"></i>
      <span class="pt-0"><%= product.favorites.count %></span>
    <% end %>
  <% else %>
    <%= link_to product_favorites_path(product), method: :post, remote: true do %>
      <i class="far fa-heart"></i>
      <span class="pt-0"><%= product.favorites.count %></span>
    <% end %>
  <% end %>
</div>
