<% provide(:title, '会員登録 | ライフウェーブパッチ販売サイト') %>

<div class="backpage-wrap col-10 offset-1">
  <button type="submit" onclick="history.back();" class="backpage" tabIndex="-1">
    <i class="fas fa-chevron-left"></i> 前に戻る
  </button>
</div>

<h3 class="signup-head">会員登録</h3>

<div class="container">
  <div class="row">
    <div class="signup-wrap col-lg-6 offset-lg-3 col-8 offset-2">
      <%= render 'shared/error_messages' %>
      <p class="form-p mb-0">※<span class="essential-icon ml-2">必須</span> は入力必須項目です。</p>
      <p class="pt-1 mb-4 pb-3">※ 住所をご登録されますと、ご注文の際に入力する手間が省けます。</p>
      <%= form_with model: @user, id: 'signup-form', local: true do |f| %>

        <div class="form-group">
          <%= f.label :name, "お名前"%>
          <span class="essential-icon">必須</span>
          <%= f.text_field :name, class: "form-control validate[required]", id: "form-name", placeholder: " 例 : 山田　花子", autocomplete: "name" %>
        </div>
        <div class="form-group">
          <%= f.label :name_kana, "フリガナ"%>
          <span class="essential-icon">必須</span>
          <%= f.text_field :name_kana, class: "form-control validate[required, custom[katakana]]", id: "form-name_kana", placeholder: " 例 : ヤマダ　ハナコ" %>
        </div>
        <div class="form-group">
          <%= f.label :email, "メールアドレス"%>
          <span class="essential-icon">必須</span>
          <%= f.email_field :email, class: "form-control validate[required] validate[custom[email]]", id: "form-email", placeholder: " 例 : life@wave.co.jp", autocomplete: "email" %>
          <small id="passwordHelpBlock" class="form-text text-muted">
            ※「..（ドットが２つ連続）」を含むメールアドレスはご利用いただけません。
          </small>
        </div>
        <div class="form-group">
          <%= f.label :password, "パスワード" %>
          <span class="essential-icon">必須</span>
          <%= f.password_field :password, class: "form-control validate[required] validate[minSize[8]]", id: "password", placeholder: " 設定したいパスワードを入力してください"%>
          <small id="passwordHelpBlock" class="form-text text-muted">
            ※パスワードは半角英数字８文字以上で入力してください。
          </small>
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="password-check" value="">
            <label class="form-check-label" for="password-check">パスワードを表示する</label>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :password_confirmation, "パスワード（確認）" %>
          <span class="essential-icon">必須</span>
          <%= f.password_field :password_confirmation, class: "form-control validate[required, equals[password]] validate[minSize[8]]", id: "password_confirmation", placeholder: "確認のため、もう一度入力してください" %>
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="password_confirmation-check" value="">
            <label class="form-check-label" for="password_confirmation-check">パスワードを表示する</label>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :postcode, '郵便番号（7桁）' %>
          <span class="arbitrary-icon">任意</span>
          <%= f.text_field :postcode, class: 'form-control validate[custom[number], maxSize[7]]', id: 'user_postcode', autocomplete: 'postcode', placeholder: ' 例 : 1234567' %>
          <small class="form-text text-muted">
            郵便番号を入力すると、住所の一部が自動的に表示されます。<br>※半角数字、ハイフン（-）無しで入力してください。
          </small>
        </div>
        <div class="form-group">
          <div class="prefecture-wrap col-7 col-sm-5">
            <%= f.label :prefecture_name, '都道府県' %>
            <span class="arbitrary-icon">任意</span>
            <%= f.collection_select :prefecture_code, JpPrefecture::Prefecture.all, :code, :name, { prompt: '選択してください' }, class: 'form-control', id: 'user_prefecture_code' %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :address_city, '住所' %>
          <span class="arbitrary-icon">任意</span>
          <div class="form-address-city">
            <%= f.text_field :address_city, class: 'form-control', id: 'user_address_city', autocomplete: 'address_city', placeholder: ' 例 : 〇〇市〇〇区〇〇町' %>
          </div>
          <div class="form-address-street">
            <%= f.text_field :address_street, class: 'form-control', id: 'user_address_street', autocomplete: 'address_street', placeholder: ' 例 : 〇〇 1-1' %>
            <small class="form-text text-muted">
              ※町名・番地の入力漏れにご注意ください。
            </small>
          </div>
          <div class="form-address-building">
            <%= f.text_field :address_building, class: 'form-control', id: 'form-address_building', autocomplete: 'address_building', placeholder: ' 例 : 〇〇マンション００号' %>
            <small class="form-text text-muted">
              ※部屋番号や階数なども忘れずにご記入ください。
            </small>
          </div>
        </div>
        <div class="signup-submit">
          <%= f.submit '保存する', class: 'btn btn-raised btn-lg btn-dark col-md-6 offset-md-3', id: 'form-signup-submit' %>
        </div>
      <% end %>
      <div class="return-page btn btn-raised active col-md-4 offset-md-4 col-8 offset-2 mt-2">
        <%= link_to '戻る', login_path %>
      </div>
    </div>
  </div>
</div>

