<% provide(:title, 'ショッピングカート | ライフウェーブパッチ販売サイト') %>

<%= render 'shared/backpage' %>

<div class="container">
  <div class="row">
    <div class="cart-detail col-10 offset-1">
      <h3 class="cart-detail-head">ショッピングカート</h3>
      <% if @line_items.present? %>
        <p class="cart-info">※ 数量変更された場合は必ず更新を押してください。</p>
          <ul class="cart-list col-lg-8 offset-lg-2 p-0">
            <% @line_items.each do |line_item| %>
              <li class="cart-list-item">
                <div class="list-flex d-flex">
                  <div class="cart-item-img">
                    <%= link_to product_path(line_item.product) do %>
                      <%= image_tag line_item.product.product_image_url(:thumb) %>
                    <% end %>
                  </div>
                  <div class="cart-item-info">
                    <div class="name-and-price">
                      <%= link_to product_path(line_item.product) do %>
                        <p class="cart-item-name"><strong><%= line_item.product.name %> <br> <%= line_item.product.name_kana %></strong></p>
                      <% end %>
                      <p class="cart-item-price">¥ <%= change_consumption_tax(line_item.product.price).to_s(:delimited) %>  (税込)</p>
                    </div>
                    <%= link_to delete_item_path(product_id: line_item.product_id), method: :delete, class: 'item-delete-button' do %>
                      <i class="fas fa-times"></i> 削除する
                    <% end %>
                  </div>
                  <div class="quantity-and-price ml-auto">
                    <%= form_with model: @line_item, url: update_item_path, local: true do |f| %>
                      <%= f.hidden_field :product_id, value: line_item.product_id %>
                      <div class="quantity-reload">
                        <div class="quantity">
                          <p><span>数量 : </span><%= f.text_field :quantity, value: line_item.quantity %></p>
                        </div>
                        <div class="reload">
                          <%= f.button type: "submit" do %>
                            <i class="fas fa-redo-alt"></i> 更新
                          <% end %>
                        </div>
                      </div>
                    <% end %>
                  </div>
                </div>
                <div class="subtotal d-flex">
                  <p class="sub-head">小計<span class="sm">（税込）</span></p>
                  <p class="subtotal-price"><strong>¥ <%= change_consumption_tax(subtotal(line_item.product.price, line_item.quantity)).to_s(:delimited) %></strong></p>
                </div>
              </li>
            <% end %>
          </ul>
          <div class="total-price col-lg-8 offset-lg-2 mb-5">
            <p>合計<span class="sm">（税込）</span><span class="price-big"><strong>¥ <%= change_consumption_tax(@cart.total_price).to_s(:delimited) %></strong></span></p>
          </div>
          <div class="cart-links">
            <%= link_to "お買い物を続ける", products_path, class: 'btn btn-raised keep-shopping' %>
            <%= link_to "ご購入手続きへ", root_path, class: 'btn btn-raised btn-lg btn-dark to-order' %>
          </div>
          <% unless logged_in? %>
            <div class="cart-login col-lg-8 offset-lg-2">
              <div class="created-user">
              <h4 class="created-user-head">会員登録がお済みのお客様</h4>
              <p class="created-user-p mt-3">メールアドレスとパスワードを入力してログインしてください。</p>
            </div>
            <%= form_with scope: :session, url: login_path, id: 'login-form', local: true do |f| %>
              <div class="form-group">
                <%= f.label :email, "メールアドレス" %>
                <%= f.email_field :email, class: 'form-control validate[required] validate[custom[email]]', id: 'login-email', placeholder: ' 例 : life@wave.co.jp', autocomplete: 'email' %>
                <small class="form-text text-muted">
                  ※ ご登録いただいているメールアドレスを入力してください。
                </small>
              </div>
              <div class="form-group">
                <%= f.label :password, "パスワード" %>
                <%= f.password_field :password, class: 'form-control validate[required] validate[minSize[8]]', id: 'login-password', placeholder: ' ご登録いただいているパスワードを入力してください' %>
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" id="login-password-check" value="">
                  <label class="form-check-label" for="login-password-check">パスワードを表示する</label>
                </div>
              </div>
              <div class="form-check remember-me-checkbox mt-4">
                <%= f.check_box :remember_me, class: 'form-check-input', id: 'remember-me-check' %>
                <%= f.label :remember_me, class: 'form-check-label' do %>ログイン情報を保存する <% end %>
              </div>
              <div class="login-submit">
                <%= f.submit '会員ログインをして購入手続きへ', class: 'btn btn-raised btn-lg btn-dark col-8 offset-2 mt-4', id: 'form-login-submit' %>
              </div>
              <div class="forgot-password text-center my-4 pb-5">
                <%= link_to "パスワードをお忘れの方はこちらをクリック", new_password_reset_path, class: 'border-bottom border-dark' %>
              </div>
            <% end %>
            </div>
          <% end %>
      <% else %>
        <p class="item-not-found mb-5">現在カートに商品はありません。</p>
        <%= link_to "製品一覧を見る", products_path, class: 'to-products-button btn btn-dark btn-raised btn-lg col-6 offset-3 col-lg-4 offset-lg-4' %>
      <% end %>
    </div>
  </div>
</div>
