<% provide(:title, 'クレジットカード情報入力 | ライフウェーブパッチ販売サイト') %>

<%= render 'shared/backpage' %>

<div class="container">
  <div class="row">
    <div class="card-new col-8 offset-2 col-lg-6 offset-lg-3">
      <h3 class="card-new-head my-5">クレジットカード情報入力</h3>
      <div class="card-form ml-5">
        <%= form_with model: @card, id: 'card-form', url: cards_path, method: :post do |f| %>
          <div class="card-form-number">
            <strong><%= f.label :カード番号, class: 'card-form-number-title' %></strong>
            <span class="essential-icon">必須</span>
          </div>
          <div class="card-form-field">
            <%= f.text_field :card_number, id: 'card_number', placeholder: '半角数字のみ', class: 'card-form-input', maxlength: 16 %>
          </div>
          <div class="card-form-img">
            <%= image_tag(asset_path('cards/icon_visa.png'), class: 'visa', width: 58, height: 28) %>
            <%= image_tag(asset_path('cards/icon_mastercard.png'), class: 'master', width: 47, height: 36) %>
            <%= image_tag(asset_path('cards/icon_jcb.png'), class: 'jcb', width: 40, height: 30) %>
            <%= image_tag(asset_path('cards/icon_amex.png'), class: 'amex', width: 40, height: 30) %>
            <%= image_tag(asset_path('cards/icon_diners.png'), class: 'diners', width: 45, height: 32) %>
            <%= image_tag(asset_path('cards/icon_discover.png'), class: 'discover', width: 47, height: 30) %>
          </div>
          <div class="card-form-expirationdate mt-5">
            <div class="card-form-expirationdate-details">
              <strong><%= f.label :有効期限 %></strong>
              <span class="essential-icon">必須</span>
              <br>
            </div>
            <div class="card-form-expirationdate-choice">
              <div class="card-form-expirationdate-choice-month">
                <%= f.select :expiration_month, options_for_select(["01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12"]), {}, { id: "exp_month", name: "exp_month", type: "text" } %>
                <%= f.label :月, class: 'card-form-month-label' %>
              </div>
              <div class="card-form-expirationdate-choice-year">
                <%= f.select :expiration_year, options_for_select((2021..2031)), {}, { id: 'exp_year', name: 'exp_year', type: "text" } %>
                <%= f.label :年, class: 'card-form-year-label' %>
              </div>
            </div>
          </div>
          <div class="card-form-securitycode mt-5">
            <div class="card-form-securitycode-details">
              <div class="card-form-securitycode-details-title">
                <strong><%= f.label :セキュリティーコード, class: 'securitycode-label' %></strong>
                <span class="essential-icon">必須</span>
              </div>
              <div class="card-form-securitycode-details-field">
                <%= f.text_field :cvc, id: 'cvc', class: 'cvc', placeholder: 'カード背面3桁もしくは4桁の番号', maxlength: '4' %>
              </div>
              <div class="card-form-securitycode-details-hatena">
                <%= link_to "#", class: 'card-form-hatenalink' do %>
                  <i class="fas fa-question-circle"></i>カード背面の番号とは？
                <% end %>
              </div>
            </div>
          </div>
          <div id="card-token">
            <%= f.submit "登録する", id: 'token_submit', class: 'btn btn-raised btn-dark btn-lg col-12 my-5' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>