<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="gnav">
        <h1 class="gnav-logo">
          <a href="/">
            <img src="/assets/lifewave-logo.png" alt="LifeWave-Logo" class="logo-img">
          </a>
        </h1>
      </div>
    </header>

    <%= yield %>

    <footer>
      <div class="footer-category">
        <h2 class="footer-head">CATEGORY <br> 種類</h2>
        <ul>
          <li class="footer-category-item">
            <p>全身・局所的な痛みに</p>
          </li>
          <li class="footer-category-item">
            <p>スポーツを楽しみたい方に</p>
          </li>
          <li class="footer-category-item">
            <p>良質な睡眠に</p>
          </li>
          <li class="footer-category-item">
            <p>ストレスを緩和させたい方に</p>
          </li>
          <li class="footer-category-item">
            <p>スタミナ不足の方に</p>
          </li>
          <li class="footer-category-item">
            <p>体に溜まった毒素を取り除きたい方に</p>
          </li>
          <li class="footer-category-item">
            <p>身体的老化が気になる全ての方に</p>
          </li>
          <li class="footer-category-item">
            <p>お肌の老化でお悩みの方に</p>
          </li>
          <li class="footer-category-item">
            <p>体型が気になる方に</p>
          </li>
        </ul>
      </div>

      <div class="footer-service">
        <h2 class="footer-head">SERVICE <br> サービス</h2>
        <ul>
          <li class="footer-service-item"><p>初めての方へ</p></li>
          <li class="footer-service-item"><%= link_to "ご注文の流れ", static_pages_support_path %></li>
          <li class="footer-service-item"><%= link_to "お問い合わせ", static_pages_contact_path %></li>
        </ul>
      </div>
    </footer>
  </body>
</html>
