<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title><%= yield(:title) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&family=Noto+Sans+JP&display=swap" rel="stylesheet">
    <%= javascript_pack_tag 'application' %>
    <script src="https://kit.fontawesome.com/0e93b877b5.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <header>
      <div class="gnav">
        <h1 class="gnav-logo">
          <a href="/">
            <img src="/assets/lifewave-logo.png" alt="LifeWave-Logo" class="logo-img">
          </a>
        </h1>
        <ul class="gnav-nav">
          <li class="gnav-nav-item">
            <a href="#">ALL ITEM <br> 製品一覧</a>
          </li>
          <li class="gnav-nav-item">
            <a href="#">HOW TO USE <br> パッチの貼り方</a>
          </li>
          <li class="gnav-nav-item">
            <a href="#"><i class="fas fa-shopping-cart"></i><br> カートを見る</a>
          </li>
          <li class="gnav-nav-item">
            <a href="#">LOGIN <br> ログイン</a>
          </li>
        </ul>
        <div class="media-s">
          <div class="cart-icon">
            <a href="#"><i class="fas fa-shopping-cart"></i></a>
          </div>
          <div class="hamburger">
            <span></span>
            <span></span>
            <span></span>
          </div>

          <nav class="globalMenuSp">
              <ul>
                  <li><a href="#">LOGIN <br> ログイン</a></li>
                  <li><a href="#">ALL ITEM <br> 製品一覧</a></li>
                  <li><a href="#">HOW TO USE <br> パッチの貼り方</a></li>
              </ul>
          </nav>
        </div>
      </div>
    </header>
    <div class="header-height"></div>

    <%= yield %>

    <footer>
      <div class="row">
        <div class="footer-box">
          <div class="footer-category col-lg-9">
            <h2 class="footer-head">CATEGORY <br> 種類</h2>
            <div class="category-box">
              <ul class="category-list-left">
                <li class="footer-category-item">
                  <a href="#">全身・局所的な痛みに</a>
                </li>
                <li class="footer-category-item">
                  <a href="#">スタミナ不足の方に</a>
                </li>
                <li class="footer-category-item">
                  <a href="#">良質な睡眠に</a>
                </li>
              </ul>
              <ul class="category-list-center">
                <li class="footer-category-item">
                  <a href="#">ストレスを緩和させたい方に</a>
                </li>
                <li class="footer-category-item">
                  <a href="#">身体的老化が気になる全ての方に</a>
                </li>
                <li class="footer-category-item">
                  <a href="#">体に溜まった毒素を取り除きたい方に</a>
                </li>
              </ul>
              <ul class="category-list-right">
                <li class="footer-category-item">
                  <a href="#">スポーツを楽しみたい方に</a>
                </li>
                <li class="footer-category-item">
                  <a href="#">お肌の老化でお悩みの方に</a>
                </li>
                <li class="footer-category-item">
                  <a href="#">体型が気になる方に</a>
                </li>
              </ul>
            </div>
          </div>

          <div class="footer-service col-lg-3">
            <h2 class="footer-head">SERVICE <br> サービス</h2>
            <ul>
              <li class="footer-service-item"><a href="#">初めての方へ</a></li>
              <li class="footer-service-item"><%= link_to "ご注文の流れ", static_pages_support_path %></li>
              <li class="footer-service-item"><%= link_to "お問い合わせ", static_pages_contact_path %></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-end">
        <p>LIFE WAVE</p>
      </div>
    </footer>
  <%= javascript_pack_tag 'hbmenu' %>
  </body>
</html>
